@import "tailwindcss";

@theme {
  /* Paleta Principal Liviin */
  --color-brand-cedar: #4E5C4F;
  --color-brand-olive: #777E5C;
  --color-brand-oak: #C7C2AC;
  --color-brand-offwhite: #DFE0DB;
  
  /* Paleta Complementaria */
  --color-brand-shadow: #BBBEC3;
  --color-brand-taupe: #9A958A;

  /* Tipografías Oficiales */
  --font-sans: var(--font-plus-jakarta), sans-serif;
  --font-serif: var(--font-baskervville), serif;
}

/* Configuramos el fondo base de la web con tu color off-white y la tipografía principal */
@layer base {
  body {
    background-color: var(--color-brand-offwhite);
    color: var(--color-brand-cedar);
    font-family: var(--font-sans);
  }
}